@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: 6px;
}

*::-webkit-scrollbar {
  @apply block w-[6px] bg-slate-600 dark:bg-slate-600;
}

*::-webkit-scrollbar-thumb {
  @apply rounded-md bg-slate-800 dark:bg-slate-800;
}
